<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
      <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
    </div>
  </div>
</section>
<!-- end hero -->