/* Scheme dark */
$brand-color: #633ce2;
$white: #fff;
$light-gray: #f0f0f0;
$blue-gray: #716f8a;
$gray: #aaa;
$light-blue: #f3f7ff;
$dark-blue: #1A1A1f;
$dark: #111016;

$background-color: $dark;
$background-alt-color: $dark-blue;

$primary-gradient: linear-gradient(180deg, rgba($dark, 0.7) 0%, $dark 95%);

$text-color: $gray;
$text-alt-color: $gray;

$heading-font-color: $white;

$link-color: $white;
$link-color-hover: $white;

$button-color: $white;
$button-background-color: $brand-color;
$button-background-hover: darken($brand-color, 3%);

$border-color: #252629;
$border-color-alt: #080b12;

$th-color: #18181d;
$tr-color: #080b12;

$syntax-highlighting-background: #080b12;